/*Styling header ares*/
.header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: black;
}

/*Styling header links*/
.header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 12px 14px;
    float: left;
}

#h1{
    color: pink;
}