*{
    padding: 0;
    margin: 0;
    
}
body {

        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        background: #ffffff;
}
#container {
    width: 500px;
    height: 250px;
    border: dashed 1px #181818;
    background-attachment: fixed;
    margin-top: 500px;
    margin: 20px;
    
}
/*Styling header ares*/
.header {
    width: 100%;
    overflow: hidden;
    padding: 10px 10px;
    display: flex;
    align-content: last baseline;
    border-bottom: dashed 1px #181818;
    
}


/*Styling header links*/
.header a {
    color: #181818;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    display: block;
    align-items: center;
    padding: 40px 30px;
}
/*style when hover over link*/
.header a:hover {
    background-color:#181818;
    font-weight: bold;
    color: #ffffff;
}

/*style of active link*/
.header a.active {
    background-color: rgb(52, 88, 109);
    color: #ffffff;
 }

 img {
    max-width: 100px;
    height: auto;
    margin: auto;
 }

 /*standard page body style*/
body {
    font-size: 14px;
    color: #000000;
    font-family: Times, "Times New Roman", Georgia, sans-serif;   
}

h1 {
    font-weight: bold;
    text-align: center;
    color:#181818;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    border-top: dashed 1px #181818;
    padding-top: 40px;
    
    

}

.footer p{
    color: #1818188a;
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 10px;
    
}